.add-password-dialog-div{
    position: absolute;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(146, 146, 146);
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon{
            font-size: 7rem;
        }
        .p-info{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            font-size: 1rem;
        }
    }
    .input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 25px;
            width: 90%;
            margin-top: 20px;
            .pass{
                position: relative;
                display: flex;
                input{
                width: 100%;
                }
                .eye{
                    position: absolute;
                    right: 0;
                    bottom: 5px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    color: rgb(89, 89, 89);
                }
            }
        }
    }
}
@media screen and (max-width:410px){
    .add-password-dialog-div{
        scale: 0.95;
    }
}