@mixin flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-entry-div{
    // border: 1px solid;
    min-height: 90vh;
    @include flex-down();
    padding: 20px;
    border-radius: 5px;
    gap: 30px;
    // background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
    // background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    
    .main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px;
        width: 95%;
        .options{
            // border: 1px solid;
            padding: 10px;
            @include flex-down();
            gap: 40px;
            .pic{
                border-radius: 50%;
                @include flex-cc();
                position: relative;
                span{
                    position: absolute;
                    color: ghostwhite;
                    font-size: 7.5rem;
                }
            }
            p{
                font-size: 2rem;
                font-weight: 600;
            }
            .opts{
                display: flex;
                gap: 30px;
                button{
                    font-size: 1.3rem;
                    padding: 10px 20px;
                    @include flex-cc();
                    border-radius: 4px;
                }
            }
        }
        .fields{
            padding: 10px;
            @include flex-down();
            gap: 25px;
            .inputs{
                width: 100%;
                @include flex-down();
                gap: 20px;
                padding: 10px;
                div{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    gap: 10px;
                    label{
                        font-size: 1.4rem;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        svg{
                            margin-top: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .confirm-changes{
                width: 90%;
                font-size: 1.2rem;
                &:disabled{
                    color: gray;
                    cursor: not-allowed;
                }
            }
        }
    }
}