@use '../../mixins';

.password-entry-div{
    // border: 1px solid;
    min-height: 90vh;
    @include mixins.flex-down();
    padding: 20px;
    border-radius: 5px;
    gap: 30px;
    position: relative;
    .main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px;
        width: 95%;
        .options{
            padding: 10px;
            @include mixins.flex-down();
            gap: 40px;
            .pic{
                border-radius: 50%;
                @include mixins.flex-cc();
                position: relative;
                span{
                    position: absolute;
                    color: ghostwhite;
                    font-size: 7.5rem;
                }
            }
            p{
                font-size: 2rem;
                font-weight: 600;
            }
            span{
                font-weight: 600;
            }
            .opts{
                display: flex;
                gap: 30px;
                button{
                    font-size: 1.3rem;
                    padding: 10px 20px;
                    @include mixins.flex-cc();
                    border-radius: 4px;
                    &:disabled{
                        background-color: rgb(117, 117, 117);
                    }
                }
            }
        }
        .fields{
            padding: 10px;
            @include mixins.flex-down();
            gap: 25px;
            .inputs{
                width: 100%;
                @include mixins.flex-down();
                gap: 20px;
                padding: 10px;
                div{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    gap: 10px;
                    label{
                        font-size: 1.4rem;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        svg{
                            margin-top: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .confirm-changes{
                width: 90%;
                font-size: 1.2rem;
                &:disabled{
                    color: gray;
                    cursor: not-allowed;
                }
            }
        }
    }
}
@media screen and (max-width:410px){
    .password-entry-div{
        padding: 10px;
        .main{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap:10px;
            .options{
                .pic{
                    scale: 0.85;
                    span{
                        font-size: 6rem;
                    }
                }
                gap: 20px;
            }
            .fields{
                gap: 15px;
            }
        }
    }
}