@use '../../mixins';
.password-checklist-div{
    border: 1px solid;
    border-radius: 8px;
    color: ghostwhite;
    flex: 1;
    .info{
        margin-top: 30px;
        gap: 10px;
        padding: 20px;
        @include mixins.flex-down();
        button{
            font-size: 1.2rem;
            padding: 5px 25px;
        }
    }
}