@use '../../mixins';
.password-change-validator-div{
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    max-width: 350px;
    box-shadow: 2px 2px 2px rgb(202, 202, 202);
    border-top: 6px solid;
    animation: vSlideDown 0.3s ease;
    h3{
        text-align: center;
    }
    .processes-div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .process-tile{
            display: flex;
            gap: 10px;
            align-items: center;
            .loader-div{
                width: 20px;
                height: 20px;
            }
        }
    }
    .elapsed-time{
        font-weight: 600;
    }
    button{
        font-size: 1.1rem;
        &:disabled{
            background-color: darkgray;
            cursor: not-allowed;
        }
    }
}