.intro-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 30px;
    gap: 10px;
    min-height: 100vh;
    .img{
        display: flex;

        img{
            width: 95%;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 35px;
        align-items: center;
        justify-content: center;
        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        p{
            text-align: center;
            font-size: 1.1rem;
        }
        h1{
            text-align: center;
        }
        .have-acc{
            font-weight: 500;
            font-size: 1.2rem;
            span{
                color: rgb(15, 47, 188);
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .btns{
            display: flex;
            gap: 20px;
            button{
                font-size: 1.4rem;
                padding: 10px 50px;
                border-radius: 25px;
                background-color: rgb(15, 47, 188);
                color: ghostwhite;
            }
            .google{
                font-size: 1.8rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                background-color: rgb(240, 233, 233);
                justify-content: center;
                padding: 10px;
            }
        }
    }
}
@media screen and (max-width:900px){
    .content{
        h1{
            font-size: 1.7rem;
        }
    }
}
@media screen and (max-width:760px){
    .intro-div{
        gap: 0px;
        .img{
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 60%;
            }
        }
        .content{
            margin-top: -80px;
        }
    }
}
@media screen and (max-width:600px){
    .intro-div{
        .img{
            img{
                width: 80%;
            }
        }
        .content{
            gap: 30px;
            margin-top: -100px;
            h1{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
            .have-acc{
                font-size: 1.1rem;
            }
            .btns{
                gap: 15px;
                button{
                    font-size: 1.2rem;
                    padding: 10px 35px;
                }
            }
        }
    }
}
@media screen and (max-width:410px){
    .intro-div{
        .img{
            img{
                width: 100%;
            }
        }
        .content{
            .logo{
                gap: 5px;
                img{
                    width: 10%;
                }
            }
        }
    }
}