.password-check-div{
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    .checks-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        div{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.2rem;
            color: rgb(218, 218, 218);
            .green{
                color: rgb(121, 232, 121);
            }
        }
    }
}