$bg-clolor:white;
@mixin flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-password-strength-div{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    gap: 4px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    .main{
        width: 90%;
        padding: 10px;
        min-height: 90%;
        border-radius: 5px;
        gap: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        .interface{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 10px;
            height: 100%;  
            h2{
                font-size: 1.7rem;
            }
            .indicator{
                padding: 20px;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                @include flex-cc();
                .inner{
                    width: 90%;
                    height: 90%;
                    border-radius: 50%;
                    @include flex-cc();
                    background-color: $bg-clolor;
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 22px;
                padding: 15px;
                input{
                    text-align: center;
                    font-size: 1.3rem;
                    background-color: inherit;
                }
            }
            .suggest{
                text-align: center;
            }
            .copy-reset{
                display: flex;
                gap: 10px;
                cursor: pointer;
                font-size: 1.2rem;
                .copy{
                    @include flex-cc();
                    padding: 10px 30px;
                    border-radius: 30px;
                    gap: 10px;
                    border: 1px solid;
                }
                .reset{
                    @include flex-cc();
                    padding: 15px;
                    border-radius: 50%;
                    border: 1px solid;
                }
            }
        }
        .results{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            flex: 1;
            
            .container{
                display: flex;
                flex-direction: column;
                gap: 7px;
                .base-info{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    justify-content: center;
                    div{
                        min-width: 40%;
                        padding: 5px 7px;
                        border-radius: 8px;
                        // border: 1.7px solid gray;
                        overflow: hidden;
                        flex: 1;
                        box-shadow: 1px 1px 3px rgb(163, 163, 163);
                        &>*:nth-child(1){
                            font-weight: 600;
                        }
                    }
                }
                .crack-time{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 5px;
                    div{
                        min-width: 40%;
                        padding: 5px 7px;
                        border-radius: 8px;
                        box-shadow: 1px 1px 3px rgb(163, 163, 163);
                        overflow: hidden;
                        flex: 1;
                        &>*:nth-child(1){
                            font-weight: 600;
                        }
                    }
                }
                .feedback{
                    display: flex;
                    justify-content: center;
                    div{
                    display: flex;
                    flex-direction: column;
                    padding: 5px 7px;
                    min-width: 80%;
                    border-radius: 8px;
                    box-shadow: 1px 1px 3px rgb(163, 163, 163);
                    overflow: hidden;
                    flex: 1;
                    &>*:nth-child(1){
                        font-weight: 600;
                    }
                    }
                }
            }
        }
        .bold{
            font-weight: 600;
        }
    }
}
@media screen and (max-width:1000px){
    .check-password-strength-div{
        .main{
            width: 100%;
        }
    }
}
@media screen and (max-width:650px){
    .check-password-strength-div{
        h1{
            font-size: 1.6rem;
        }
        .main{
            gap: 0px;
        }
    }
}
@media screen and (max-width:650px){
    .check-password-strength-div{
        h1{
            font-size: 1.4rem;
        }
        .main{
            .interface{
                gap: 5px;
                h2{
                    font-size: 1.2rem;
                }
                form{
                    gap: 15px;
                }
                .indicator{
                    width: 180px;
                    height: 180px;
                    .inner{
                        font-size: 1.4rem;
                    }
                }
                .copy-reset{
                    font-size: 1rem;
                }
            }
            .results{
                margin-top: -10px;
                .container{
                    gap: 5px;
                }
            }
        }
    }
}
@media screen and (max-width:650px){
    .check-password-strength-div{
        .main{
            .results{
                .container{
                    .base-info{
                        div{
                            min-width: 100%;
                        }
                    }
                    .crack-time{
                        div{
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:410px){
    .check-password-strength-div{
        padding: 10px;
        .main{
            padding: 5px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}
