@use '../../mixins';
.change-master-password-div{
    min-height: 90vh;
    @include mixins.flex-down();
    padding: 20px;
    border-radius: 5px;
    gap: 30px;
    h1{
        text-align: center ;
    }
    .main{
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 35px;
        .changer{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .pass{
                position: relative;
                display: flex;
                input{
                    width: 100%;
                }
                .eye{
                    position: absolute;
                    right: 0;
                    bottom: 5px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    color: rgb(89, 89, 89);
                }
            }
            .old-btn{
                margin-top: 15px;
                width: 100%;
                font-size: 1.1rem;
                padding: 4px;
            }
            .new-pass-div{
                margin-top: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                gap: 30px;
                margin-bottom: 20px;
                .note{
                    font-size: 4rem;
                    position: relative;
                    top: 20px;
                }
                .note-p{
                    text-align: justify;
                }
                .pass{
                    width: 100%;
                }
                .submit-button-btn{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    .change-master-password-div{
        .main{
            width: 100%;
        }
    }
}
@media screen and (max-width:450px){
    .change-master-password-div{
        padding: 10px;
        h1{
            font-size: 1.7rem;
        }
        .main{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            padding: 5px;
            gap: 0px;
            .password-checklist-div{
                .info{
                    margin-top: -20px;
                }
            }
        }
    }
}