@mixin flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}
$color:ghostwhite;

.add-passwords-div{
    min-height: 90vh;
    @include flex-down();
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    
    .main{
        width: 88%;
        padding: 10px;
        display: flex;
        min-height: 90%;
        border-radius: 5px;
        gap: 40px;
        .interface{
            // border: 1px solid;
            width: 45%;
            border-radius: 8px;
            padding: 20px;
            @include flex-down();
            gap: 20px;
            justify-content: space-between;
            form{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                .pass{
                    position: relative;
                    display: flex;
                    input{
                        width: 100%;
                    }
                    .eye{
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        font-size: 1.2rem;
                        cursor: pointer;
                        color: rgb(89, 89, 89);
                    }
                }
            }
            .encrypt-method,.encode-method{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 15px;
                padding: 6px;

                div{
                    display: flex;
                    gap: 20px;
                    justify-content: space-between;
                }
            }
        }
        .advisor{
            border: 1px solid;
            border-radius: 8px;
            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
            color: $color;
            flex: 1;
            .info{
                margin-top: 30px;
                gap: 10px;
                padding: 20px;
                @include flex-down();
                button{
                    font-size: 1.2rem;
                    padding: 5px 25px;
                }
            }
        }
    }
}