.authentication-form-div{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .main{
        display: flex;
        min-width: 350px;
        max-width: 700px;
        gap: 20px;
        padding: 15px;
        border-radius: 7px;
        background-color: rgb(245, 245, 245);
        .feed{
            width: fit-content;
            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: space-between;
            border-radius: 7px;
            width: 45%;
            color: ghostwhite;
            font-weight: 600;
            font-size: 1.2rem;
            .img{
                img{
                    width: 15%;
                }
            }
            background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding: 20px;
            gap: 13px;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                .pass{
                    position: relative;
                    display: flex;
                    input{
                        width: 100%;
                    }
                    .eye{
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        font-size: 1.2rem;
                        cursor: pointer;
                        color: rgb(89, 89, 89);
                    }
                }
                button{
                    width: 100%;
                }
            }
        }
    }
}