.menubar-div{
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    
    .m-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img {
            width: 2.5rem; 
            height: 2.5rem; 
            // border: 1px solid;
        }
    }
    
    .navs {
        display: flex;
        gap: 20px;
        padding: 5px;
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%,
         rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
        border-radius: 30px;
        div {
            font-size: 1.8rem;
            cursor: pointer;
            display: flex;
            transition: .25s ease;
            // border: 1px solid;
            border-radius: 50%;
            padding: 10px;
            color: ghostwhite;
            &:hover{
                background-color: ghostwhite;
                color: black;
            }
        }
    }
    
    .user-pic {
        font-size: 2rem;
        cursor: pointer;
    }
}
.container{
    padding: 10px;
}