@use '../../mixins';


.password-health-div{
    min-height: 90vh;
    @include mixins.flex-down();
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    .main{
        width: 100%;
        @include mixins.flex-cc();
        .main-greet{
            width:100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            align-items: center;
            margin-top: 20px;
            .img{
                @include mixins.flex-cc();
                img{
                    width: 60%;
                }
            }
            .content{
                @include mixins.flex-down();
                gap: 30px;
                p{
                    font-size: 1.3rem;
                    text-align: center;
                }
                button{
                    padding: 8px 30px;
                    font-size: 1.3rem;
                }
            }
        }
        .main-analysis{
            width:100%;
            @include mixins.flex-down();
            gap:40px;
            .stats{
                width:100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                gap:30px;
                .tile{
                    display: flex;
                    flex-direction: column;
                    gap:8px;
                    .result,.status{
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }
                    .result{
                        gap: 20px;
                    }
                    .status{
                        justify-content: space-between;
                        span{
                            font-weight: normal;
                        }
                    }
                }
            }
            button{
                padding: 8px 30px;
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width:450px){
    .password-health-div{
        padding: 10px;
        .main-greet{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        .main-analysis{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            .stats{
                .tile{
                    .status{
                        overflow: hidden;
                        span{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}