@mixin flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.generate-passwords-div{
    // border: 1px solid;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    gap: 15px;
    background-color: whitesmoke;
    
    .main{
        // border: 1px solid;
        width: 85%;
        padding: 20px;
        display: flex;
        min-height: 90%;
        gap: 15px;
        align-items: center;
        .display{
            width: 50%;
            flex-direction: column;
            @include flex-cc();
            font-size: 1.4rem;
            padding: 10px;
            gap: 20px;
            .show{
            // background-color: rgb(222, 245, 252);
            background-color: rgb(192, 238, 252);
            border-radius: 6px;
            min-height: 15rem;
            @include flex-cc();
            word-wrap: break-word; 
            overflow-wrap: break-word; 
            word-break: break-all;
            padding: 10px;
            width: 100%;
            text-align: center;
            }
            .copy-reset{
                display: flex;
                gap: 10px;
                cursor: pointer;
                font-size: 1.2rem;
                .copy{
                    @include flex-cc();
                    padding: 10px 30px;
                    border-radius: 30px;
                    gap: 10px;
                    border: 1px solid;
                    // background-color: rgb(114, 144, 253)
                }
                .reset{
                    @include flex-cc();
                    padding: 15px;
                    border-radius: 50%;
                    // background-color: rgb(174, 235, 254);
                    border: 1px solid;
                }
            }
        }
        .controls{
            // border: 1px solid;
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 15px;
            align-items: center;
            .switch{
                padding: 5px;
                display: flex;
                border-radius: 30px;
                cursor: pointer;
                box-shadow:inset 4px 4px 8px #c5c5c5,2px 2px 4px #fff;
                font-size: 1.2rem;
                div{
                    padding: 10px;
                    border-radius: 25px;
                }
            }
            .components{
                // border: 1px solid;
                width: 80%;
            }
        }
    }
}